<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
  <display-name>servlets</display-name>

  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>AdminSignUp</servlet-name>
    <servlet-class>com.badminton.Servlets.AdminSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignUp</servlet-name>
    <url-pattern>/AdminSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>AdminLogIn</servlet-name>
    <servlet-class>com.badminton.Servlets.AdminLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogIn</servlet-name>
    <url-pattern>/AdminLogIn</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
